[mysqld]
general-log=1
general-log-file=/var/log/mysql_general.log
log-error	= /var/log/error.log
slow_query_log = 1
slow_query_log_file=  /var/log/slow_query_log.log
log_queries_not_using_indexes = 1